<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProcessorsPath" value="D:\Education\Projects\Coursework-(.Net)\OptimumTech\Repository\processors.json" />
		<add key="GraphicsCardsPath" value="D:\Education\Projects\Coursework-(.Net)\OptimumTech\Repository\graphicscards.json" />
		<add key="PostFilePath" value="D:\Education\Projects\Coursework-(.Net)\OptimumTech\Repository\novapost.json" />
		<add key="OrdersPath" value="D:\Education\Projects\Coursework-(.Net)\OptimumTech\Repository\orders.json" />
		<add key="RepositoryPath" value="D:\Education\Projects\Coursework-(.Net)\OptimumTech\Repository" />
	</appSettings>
</configuration>